MONGODB_URL=mongodb+srv://kushwaharitesh884_db_user:0O7pC7x2G80dbZM0@cluster0.3h0jyk0.mongodb.net/myVirtualDatabase?retryWrites=true&w=majority

DATABASE_NAME=myVirtualDatabase

SECRET_KEY=9d3b7e4f2c91a8d5e6f7b1c2a3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=60

ADMIN_REGISTRATION_CODE=ADMIN2024
